<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
  <li>
    <a href="https://www.researchgate.net/profile/Jose-Rodriguez-Flores-3" itemprop="sameAs">
      <i class="fab fa-researchgate"></i> ResearchGate
    </a>
  </li>

<li>
    <a href="https://scholar.google.com/citations?user=MJpJiPsAAAAJ&hl=en" itemprop="sameAs">
      <i class="fab fa-google"></i> Google Scholar
    </a>
  </li>
